<% provide(:title, "Users") %>
  <div class="container">
    <div class="users-name">
      <p>User</p>
      <% @users.each do |user| %>
        <div class="user">
          <%= user.name %>
        </div>
      <% end %>
    </div>
  </div>