<% provide(:title, "Users") %>
<div class="main-wrapper-exterior">
  <div class="container">
    <div class="a">
      <% @users.each do |user| %>
        <%= user.name %>
      <% end %>
    </div>
  </div>
</div>