<% if @post.errors.any? %>
  <div class="error_messages-wrapper">
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li class="error-message">・<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>