<div class="container">
    <div class="footer">
      <p>&copy;PhotoTime</p>
      <% if !logged_in? %>
        <ul class="footer-list">
          <li><%= link_to "About", "/about", class: "footer-link"%></li>
          <li><%= link_to "Help", help_path, class: "footer-link"%></li>
          <li><%= link_to "Contact", "/contact", class: "footer-link" %></li>
        </ul>
      <% end %>
    </div>
</div>
