.footer {
  border-top: solid 1px rgb(214, 214, 214);
  margin-top: 20px;
  padding: 30px 0;
  height: 150px;

  p {
    font-family: 'Dancing Script', cursive;
    color: rgb(194, 194, 194);
    text-shadow: 1px  1px 1px black;
    float: left;
    font-size: 30px;
  }

  .footer-list {
    font-size: 15px;
    display: flex;
    float: right;

    li {
      margin-right: 20px;
      .footer-link {
        font-family: 'Dancing Script', cursive;
        font-size: 25px;
        text-shadow: 1px  1px 1px black;
        text-decoration: none;
        color: rgb(194, 194, 194);
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}