.header-color {
  background-color: rgb(220, 240, 240);
  height: 80px;
}

.header ul li {
  font-size: 30px;
  line-height: 75px;
  font-family: Courier, monospace;
  text-shadow: 3px 3px white;
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

.header {
  height: 80px;
}

// ul li {
//   font-size: 30px;
//   line-height: 75px;
//   font-family: Courier, monospace;
//   text-shadow: 3px 3px white;
// }

.container {
  width: 1200px;
  margin: 0 auto;
}

.photo {
  float: left;
  font-size: 50px;
  font-family: Courier, monospace;
  text-shadow: 3px 3px white;
  font-style: italic;
  line-height: 75px;
}

.photo-title {
  text-decoration: none;
  color: black;
}

.header-right {
  display: flex;
  float: right;
}

.header-link {
  text-decoration: none;
  color: black;
}
