.debug_dump {
    border: 1px #808080 solid;
    background-color: rgb(231, 231, 231);
    border-radius: 3px;
    padding: 10px;
    margin: 0 auto;
    width: 60%;
}

.image { 
    background-image: url("/ハワイ.jpg");
    background-size: cover;
    height: 500px;
    background-color:rgba(255,255,255,0.6);
    background-blend-mode:lighten;
    width: 100%;
    // opacity: 0.3;
    
}