.user-name {
    font-size: 18px;
}

.user {
    text-align: left;
    border-bottom: 1px rgb(214, 214, 214) solid;
    width: 300px;
    margin: 0 auto;
}

.image-size {
    border-radius: 50%;
    display: block;
}